body {
  margin-top: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  background: url("../../assets/PreviewMap.png") no-repeat center fixed;
  background-size: cover;
}
h3 {
  text-align: center;
  font-size: 20px;
  color: beige;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: beige;
}
p {
  color: beige;
}

#teller {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5%;
  gap: 10%;
}

button.category {
  background-color: transparent;
  color: beige;
  font-size: 40px;
  border-style: solid;
  border-radius: 12px;
  padding: 0.5em;
}

div {
  text-align: center;
}
#input-text {
  text-align: center;
  width: 30%;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: rgb(226, 204, 246);
}
#continue-button {
  background-color: transparent;
  color: beige;
  margin-top: 5%;
  border-style: solid;
  font-size: 25px;
  padding: 0.5em;
  border-radius: 12px;
}
#continue-button:hover {
  background-color: beige;
  color: black;
  border-style: double;
  transition: 0.5s;
}
