html {
  background: url("../../assets/background/Teller-shack-background.png")
    no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin-top: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: 0.8s ease-in 0s 1 titleAnimation;
}

h3.custom-heading {
  margin-top: 5vh;
  font-size: 5vh;
  text-shadow: 0px 0px 10px #4c4325;
}

h1.custom-heading {
  font-size: 10vh;
  text-shadow: 0px 0px 10px #4c4325;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  max-height: 100%;
  width: 100%;
  transform: translateY(-30%);
}

div#teller-box {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
}

div#teller-wrap {
  margin-top: 26vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 46vh;
  overflow: hidden;
}

img#teller {
  width: 44vh;
}

img#crystal-ball {
  width: 30vh;
  transform: translateY(-26vh);
}

div#claws-div {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 12vh;
  top: 0;
  left: 0;
  transform: translate(-14.2vh, 0vh);
  width: 200%;
}

img.claw {
  width: 20vh;
  animation: 5s ease-in-out 0s infinite clawVAnimation;
}

button#start-button {
  position: absolute;
  top: 53vh;
  background-color: transparent;
  box-shadow: 0px 0px 7px 10px rgb(111, 165, 213, 0.5);
  width: 28vh;
  height: 28vh;
  border-radius: 50%;
  border: none;
  font-size: 5vh;
  line-height: 20vh;
  text-shadow: 0px 0px 5px #3d3d3d;
}

button#start-button:hover {
  cursor: pointer;
  background: radial-gradient(
    circle,
    rgba(111, 165, 213, 0.7) 0%,
    rgba(111, 165, 213, 0.3) 70%
  );
  animation: none;
  box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
  transition: 0.4s;
  color: rgba(198, 221, 241, 0.5);
}

div#action-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100%;
}

div.prompt {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  font-size: 16pt;
  background-color: rgba(112, 115, 154, 1);
  border-radius: 20px;
  box-shadow: 0px 0px 14px 12px rgba(112, 115, 154, 1);
  padding-bottom: 0px;
  margin-top: 33vh;
}

div#category-icon-div {
  position: absolute;
  z-index: -1;
  top: 53vh;
  width: 26vh;
  height: 26vh;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 5px rgba(255, 255, 255, 0.5);
}

div.category-icon {
  position: absolute;
  top: 0vh;
  left: -0.2vw;
  width: 27vh;
  height: 27vh;
  border-radius: 50%;
  background-image: url("");
  background-size: cover;
}

div#category-icon-change {
  background-color: #b0c7d1;
}

div#category-icon-set {
  background-color: #b0c7d1d0;
}

div.categories {
  margin-top: 14vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 22vw;
}

div.categories > .group {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

button.category {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(245, 245, 220, 0.7);
  border: 2px solid rgb(71, 77, 98);
  border-radius: 12px;
  padding: 0.5em;
  height: 8vh;
  line-height: 5vh;
  font-size: 2vw;
  margin-right: 3%;
  transition: 0.5s;
  width: 18vw;
}

button.category:hover {
  background-color: rgb(39, 47, 65);
  border: 2px solid rgb(71, 77, 98);
  box-shadow: 0px 0px 3px rgb(71, 77, 98);
  color: beige;
  cursor: pointer;
  transition: 0.2s;
}

button.category.selected {
  background-color: rgb(255, 252, 213);
  box-shadow: 0px 0px 5px rgb(255, 252, 213);
  border: 2px solid beige;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

button.category.selected:hover {
  background-color: rgb(255, 252, 213);
  box-shadow: 0px 0px 3px rgb(255, 252, 213);
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

div#cover-div {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #030a21;
}

div#cover-div > #teller-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#cover-div > #teller-effect > .eyes {
  position: absolute;
  background: rgba(245, 245, 220, 0.8);
  box-shadow: 0px 0px 7px 4px rgb(245, 245, 220, 0.7);
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  border: none;
  margin-top: 38vh;
}

div#cover-div > #teller-effect > #eye-left {
  margin-left: 46vw;
}

div#cover-div > #teller-effect > #eye-right {
  margin-left: 52vw;
}

div#cover-div > #teller-effect > #crystal-ball-glow {
  position: absolute;
  background: rgba(245, 245, 220, 0.8);
  box-shadow: 0px 0px 10px 7px rgb(245, 245, 220, 0.7);
  width: 28vh;
  height: 28vh;
  border-radius: 50%;
  border: none;
  margin-top: 44vh;
  margin-left: 50vw;
  transform: translate(-50%, 30%);
}

div#continue {
  display: flex;
  gap: 1vw;
  transform: translateX(15.7vw);
}

select#voice-select {
  height: 30px;
}

/* Devise View */

/* Media Query for Small Screens */
@media (max-width: 480px) {
  h1.custom-heading {
    font-size: 40px; /* Adjust font size for small screens */
  }
  h3.custom-heading {
    font-size: 18px; /* Adjust font size for small screens */
  }
  #input-text {
    width: 80%; /* Adjust width for small screens */
  }
  #question-prompt {
    font-size: 18px;
  }
  h3.custom-heading {
    margin-top: 9vh;
    font-size: 3vh;
  }
  h1.custom-heading {
    font-size: 8vh;
  }
  img#teller {
    width: 40vh;
  }
  button#start-button {
    top: 52vh;
    width: 28vh;
    height: 28vh;
  }
  div#action-div {
    transform: translateY(-7vh);
  }
  div#category-icon-div {
    z-index: -1;
    top: 60vh;
  }
  div.categories {
    margin-top: 1vh;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }
  div#cover-div > #teller-effect > .eyes {
    margin-top: 32vh;
  }
  div#cover-div > #teller-effect > #eye-left {
    margin-left: 39vw;
  }
  div#cover-div > #teller-effect > #eye-right {
    margin-left: 55vw;
  }
  div#cover-div > #teller-effect > #crystal-ball-glow {
    margin-top: 38vh;
  }
  button#start-button {
    line-height: 30vh;
  }
  button.category {
    height: 50px;
    width: 200px;
    line-height: 30px;
    font-size: 16pt;
  }
  div#continue {
    flex-direction: column;
    transform: none;
    gap: 0;
  }
  button#voice-button {
    display: none;
  }
}

/* Media Query for Medium Screens */
@media (min-width: 481px) and (max-width: 768px) {
  h1.custom-heading {
    font-size: 50px; /* Adjust font size for medium screens */
  }
  h3.custom-heading {
    font-size: 22px; /* Adjust font size for large screens */
  }
  #input-text {
    width: 60%; /* Adjust width for medium screens */
  }
  #question-prompt {
    font-size: 20px;
  }
  div#cover-div > #teller-effect > .eyes {
    margin-top: 39vh;
  }
  div#cover-div > #teller-effect > #eye-left {
    margin-left: 44vw;
  }
  div#cover-div > #teller-effect > #eye-right {
    margin-left: 54vw;
  }
  div#cover-div > #teller-effect > #crystal-ball-glow {
    margin-top: 46vh;
  }
  button.category {
    height: 40px;
    width: 30vw;
    line-height: 24px;
    font-size: 12pt;
  }
  button.continue {
    font-size: 16pt;
    line-height: 40px;
    height: 50px;
  }
}

/* Display */

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.transparent {
  opacity: 0;
}

.half-transparent {
  opacity: 0.5;
}

/* Animation */

.claw-H {
  animation: 3s ease-in-out 0s infinite clawHAnimation;
}

.teller-effect-animation {
  animation: 2s ease-in 0s 1 tellerAnimation;
}

.fade-in {
  animation: 0.5s ease-in 0s 1 fadeInAnimation;
}

.fade-in-fast {
  animation: 0.2s ease-in 0s 1 fadeInAnimation;
}

.fade-out {
  animation: 0.5s ease-in 0s 1 fadeOutAnimation;
}

.fade-out-fast {
  animation: 0.2s ease-in 0s 1 fadeOutAnimation;
}

.rise-up {
  animation: 0.5s ease-in 0s 1 riseUpAnimation;
}

.glow {
  animation: 3s ease-in 0s infinite glowAnimation;
}

.turn-dark {
  animation: 2s linear 0s 1 turnDarkAnimation;
}

.teller-move {
  animation: 5s ease-in-out 0s infinite tellerMoveAnimation;
}

@keyframes tellerMoveAnimation {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(2vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

/* Reference: https://www.w3docs.com/snippets/css/how-to-create-animation-on-page-load.html */
@keyframes titleAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
  }
  50% {
    box-shadow: 0px 0px 0px 0px rgb(111, 165, 213, 0.5);
  }
  100% {
    box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
  }
}

@keyframes clawHAnimation {
  0% {
    gap: 12vh;
  }
  50% {
    gap: 13vh;
  }
  100% {
    gap: 12vh;
  }
}

@keyframes clawVAnimation {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(2vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes skyDropInAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tellerAnimation {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes riseUpAnimation {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes turnDarkAnimation {
  0% {
    background: #030a2100;
  }
  100% {
    background: #030a21;
  }
}

.crossed-out {
  text-decoration: line-through;
}

select {
  background-color: rgba(0, 0, 0, 0.7);
}
