html {
  background: url("../../assets/testbg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin-top: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: .8s ease-in 0s 1 titleAnimation;
}

/* Reference: https://www.w3docs.com/snippets/css/how-to-create-animation-on-page-load.html */
@keyframes titleAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
   }
}

h3.custom-heading {
  margin-top: 5vh;
  font-size: 5vh;
}

h1.custom-heading {
  font-size: 10vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  max-height: 100%;
  width: 100%;
  transform: translateY(-30%);
}

div#teller-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
}

img#teller {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vh;
}

button#start-button {
  position: absolute;
  top: 48vh;
  background-color: transparent;
  box-shadow: 0px 0px 7px 10px rgb(111, 165, 213, 0.5);
  width: 34vh;
  height: 34vh;
  border-radius: 50%;
  border: none;
  font-size: 7vh;
  animation: 3s ease-in 0s infinite glowAnimation;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
  }
  50% {
    box-shadow: 0px 0px 0px 0px rgb(111, 165, 213, 0.5);
  }
  100% {
    box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
   }
}

button#start-button:hover {
  cursor: pointer;
  background: radial-gradient(circle, rgba(111,165,213,0.70) 0%, rgba(111,165,213,0.30) 70%);
  animation: none;
  box-shadow: 0px 0px 20px 15px rgb(111, 165, 213, 0.5);
  transition: 0.4s;
  color: rgba(198, 221, 241, 0.5);
}

div#action-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100%;
  top: 50%;
}

div.prompt {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  font-size: 16pt;
  background-color: rgba(112, 115, 154, 1);
  border-radius: 20px;
  box-shadow: 0px 0px 14px 12px rgba(112, 115, 154, 1);
  padding-bottom: 0px;
}

div.categories {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

button.category {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(245, 245, 220, 0.7);
  border: 2px solid rgb(71, 77, 98);
  border-radius: 12px;
  padding: 0.5em;
  height: 50px;
  line-height: 30px;
  font-size: 16pt;
  margin-right: 3%;
  transition: 0.5s;
  width: 190px;
}

button.category:hover {
  background-color: rgb(39, 47, 65);
  border: 2px solid rgb(71, 77, 98);
  box-shadow: 0px 0px 3px rgb(71, 77, 98);
  color: beige;
  cursor: pointer;
  transition: 0.2s;
}

button.category.selected {
  background-color: rgb(255, 252, 213);
  box-shadow: 0px 0px 5px rgb(255, 252, 213);
  border: 2px solid beige;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

button.category.selected:hover {
  background-color: rgb(255, 252, 213);
  box-shadow: 0px 0px 3px rgb(255, 252, 213);
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

button.continue {
  transform: translate(0vw, -1vh);
}

div#sky-wrapper-div {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  border: none;
  transform: translate(-50%, -50%) rotate(135deg);
}

div#sky-div {
  background: #030a21;
  border-radius: 50%;
}

@keyframes skyDropInAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.sky-drop-in {
  animation: 3s ease-out 0s 1 skyDropInAnimation;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.fade-in {
  animation: .5s ease-in 0s 1 fadeInAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rise-fade-in {
  animation: .5s ease-in 0s 1 riseUpAnimation;
}

@keyframes riseUpAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Query for Small Screens */
@media (max-width: 480px) {
  h1.custom-heading {
    font-size: 40px; /* Adjust font size for small screens */
  }
  h3.custom-heading {
    font-size: 18px; /* Adjust font size for small screens */
  }
  #input-text {
    width: 80%; /* Adjust width for small screens */
  }
  #question-prompt {
    font-size: 18px;
  }
  h3.custom-heading {
    margin-top: 9vh;
    font-size: 3vh;
  }
  h1.custom-heading {
    font-size: 8vh;
  }
  img#teller {
    margin-top: 30vh;
    width: 40vh;
  }
  button#start-button {
    top: 60vh;
    width: 28vh;
    height: 28vh;
  }
  div#action-div {
    transform: translateY(-12vh);
  }
}

/* Media Query for Medium Screens */
@media (min-width: 481px) and (max-width: 768px) {
  h1.custom-heading {
    font-size: 50px; /* Adjust font size for medium screens */
  }
  h3.custom-heading {
    font-size: 22px; /* Adjust font size for large screens */
  }
  #input-text {
    width: 60%; /* Adjust width for medium screens */
  }
  #question-prompt {
    font-size: 20px;
  }
}

