* {
  font-family: papyrus;
  color: beige;
  margin: 0px;
  text-align: center;
}

button.continue {
  background-color: rgb(255, 252, 213);
  border: none;
  box-shadow: 0px 0px 5px beige;
  border-radius: 12px;
  color: rgb(19, 28, 63);
  font-size: 22pt;
  line-height: 40px;
  height: 60px;
  margin-bottom: 10%;
  padding: 0.5em;
  padding-left: 20px;
  padding-right: 20px;
}

button.continue:hover {
  background-color: rgb(143, 143, 137);
  border-radius: 12px;
  color: beige;
  padding: 0.5em;
  transition: 0.3s;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
