h2 {
    font-size: 34px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
}

#hiddenText {
    display:none
}

#hiddenButton {
    display: none; width: 150px; height: 150px
}

#visibleButton {
    width: 150px; height: 150px;
}