body {
  margin: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  background: url("../../assets/PreviewMap.png") no-repeat center fixed;
  background-size: cover;
}

#teller {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 350px;
}

h2 {
  font-family: "Bradley Hand", cursive;
  font-size: 34px;
  text-align: center;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

#hiddenText {
  display: none;
  color: beige;
  font-size: x-large;
  height: 150px;
  text-align: left;
  font-family: "Segoe Print", cursive;
}

#hiddenButton {
  font-family: "Bradley Hand", cursive;
  display: none;
  width: 150px;
  height: 50px;
  background-color: beige;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 16px;
}

#hiddenButton:hover {
  background-color: darkkhaki;

}
#visibleButton {
  font-family: "Bradley Hand", cursive;
  width: 150px;
  height: 50px;
  background-color: beige;
  margin-bottom: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 16px;
}

#visibleButton:hover {
  background-color: darkkhaki;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 5px 5px white;
  }
  50% {
    box-shadow: 0 0 20px 20px white;
  }
  100% {
    box-shadow: 0 0 5px 5px white;
  }
}

.glow {
  animation: glowAnimation 2s infinite;
}

#explanation {
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(112, 115, 154, 0.792);
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: auto;
  padding: 1em 2em 1em 2em;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

@media (max-width: 600px) {
  #explanation {
    padding: 1em 2em 1em 2em;
  }
}

main {
  position: relative;
  top: 100px; /* Initial position, adjust as needed */
  transition: top 1s ease; /* Transition animation duration and easing */
}