body {
  margin: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  background: url("../../assets/PreviewMap.png") no-repeat center fixed;
  background-size: cover;
}

/* Set the text color to white */
body,
.site-header__title,
p {
  color: white;
}

/* Center the content */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-content {
  text-align: center;
  width: 1000px;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

h1 {
  font-size: 40pt;
}

p {
  font-size: 16pt;
}

button.continue {
  height: 9vh;
  line-height: 6vh;
  margin-top: 5vh;
}
